<nav class="navbar navbar-expand-lg bg-dark navbar-custom" style="border-bottom: 2px solid black;">
    <a class="navbar-brand" href="#" style="color: rgb(155, 131, 15); border: 2px solid black; border-radius: 10px; padding: 5px;">Arctic
        Monkeys</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link gold" href="/">Home <span
                        class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link gold" href="/albums">All Albums</a>
            </li>
            <li class="nav-item">
                <a class="nav-link gold" href="/feedback">Feedback</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle gold" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Albums
                </a>
                <div class="dropdown-menu bg-dark gold" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item gold" href="albums/wpsiatwin">Whatever People Say I Am That's What I'm Not</a>
                    <a class="dropdown-item gold" href="albums/fwn">Favourite Worst Nighmare</a>
                    <a class="dropdown-item gold" href="albums/humbug">Humbug</a>
                    <a class="dropdown-item gold" href="albums/am">AM</a>
                    <a class="dropdown-item gold" href="albums/tbhc">Tranquility Base Hotel And Casino</a>
                </div>
            </li>
        </ul>
    </div>
</nav>